<!doctype html>
<html lang="en" ontouchmove >
  <head>

    <!-- I guess we need this some how for youtube stuff?-->
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="yt.js"></script>
    
    <!-- Font from google copying brick hack style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <link rel="icon" href="/pr.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Project Reach - Brick Hack</title>
  </head>
  <body tabIndex=0>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>